.form-container
{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-family:Arial;
  margin:20px;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px 0px rgba(0,0,0,.3);
}

.form-container div
{
  margin-bottom:10px;
}
h2
{
	display:inline-block;
	text-decoration:none;
}
.sun
{
	border-radius: 50%;
	aspect-ratio:1/1;
	height:25px;
	background: #FFED00;
	animation: 15s linear 0s infinite alternate sun-slide;
	position:relative;
	z-index:-1;
}

@keyframes sun-slide
{
	from {
		transform: translate(0,-30px);
		animation-timing-function: ease-in-out;
	}
	50%{
		transform: translate(10vw, -63px);
		animation-timing-function : ease-in-out;	
	}
	100%{
		transform: translate(20vw, -30px);
		animation-timing-function: ease-in-out;
	}
}

.form-container input
{
  border:none;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  padding:10px;
  border-radius:4px;
}
button
{
  background:none;
  border: 1px solid rgba(0,0,0.5);
  border-radius:10px;
  padding:10px;
  cursor:pointer;
}
button:hover
{
  background:rgba(0,0,0,.2)
}

.card-container
{
  display:flex;
  justify-content:center;
  align-items:center;
  /* height:100vh; */
  background-color: #f0f0f0;
}

.card
{
  width:17%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius:15px;
  padding:100px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align:center;
  font-family:Arial, sans-serif;
  color: #333;
  display:none;
}

.card-animation
{
	animation : 3s ease-in 1s both card-animation;
	transform: skew(51deg, 61deg);
}

@keyframes card-animation
{
	100%{
		transform: translateZ(0);
	}
}

.header
{
  display:flex;
  justify-content:center;
}
.first-col
{
  display:flex;
  flex-direction:column;
  /* width:50px; */
  height:140px;
  /* background:rgba(0,0,0,.1); */
}

#post
{
    font-size: 1.2em;
}

.first-col span
{
  font-weight:bold;  
  padding:3px 0;
}
.general
{
  font-size:2.5em;
}
#portrait 
{
  width: 150px;
  margin-left: -25px;
}

.card .details
{
    @media (max-width:420px)
    {
        width: 200px;
    }
  margin: 0px 0;
  font-size:1em;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  text-align:left;
  width:100%;
  font-weight:600;
}

.d-col
{
  margin-right:10px;
}
.name span
{
  font-weight : bold;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.name
{
  padding-top:5px;
  font-size: 1.5em;
}

.blue
{
    color: white;
}

.download-button
{
    display: none;
}

.wrapper
{
    display: flex;
    justify-content: center;
}

.display
{
    display: flex;
}

@media (max-width: 420px) 
{
    .card
    {
        width: 200px;
    } 
}
